
<%= render 'public/homes/top_header' %>

<div class="text-center display-2 font-weight-normal">About</div>

<div class="text-center mt-4">
 <h4>
   <pre>ながのCAKEは全国発送可能なケーキ屋さんです。
   お子様からお年寄りの方までお召し上がりいただけるよう、
   様々なバリエーションをご用意しております。
   また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
   ぜひご注文下さい。</pre>
 </h4>
</div>

<div class="text-center mt-4"><%= image_tag 'home.jpg', size: "580x262" %></div>
